asgiref==3.5.2
beautifulsoup4==4.11.1
boto3==1.24.19
botocore==1.27.19
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
cloudinary==1.29.0
cssselect2==0.6.0
da-vinci==0.3.0
Django==4.0.5
django-appconf==1.0.5
django-autoslug==1.9.8
django-bootstrap-icons==0.7.9
django-bootstrap-v5==1.0.11
django-debug-toolbar==3.5.0
django-extensions==3.1.5
django-storages==1.12.3
django-thumbnails==0.7.0
django-user-accounts==3.2.0
easy-thumbnails==2.8.1
fontawesomefree==6.1.1
google-api-core==2.8.2
google-auth==2.8.0
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
lxml==4.9.0
MarkupSafe==2.1.1
Pillow==9.1.1
protobuf==4.21.2
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
reportlab==3.6.10
requests==2.28.0
rsa==4.8
s3transfer==0.6.0
shortuuid==1.0.9
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
svglib==1.3.0
tinycss2==1.1.1
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==6.2.0