{% load static %}
{% load bootstrap5 %}
{% load cloudinary %}

<!doctype html>
<html lang="en">
<head>
    <noscript>
        <meta http-equiv="refresh" content="0; url=noscript"/>
    </noscript>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'djangogramm/css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'djangogramm/img/favicon.ico' %}" />
</head>
<body>
    <aside>
        <a href="{% url 'feed' %}"><img src="{% static 'djangogramm/img/logo.jpg' %}" alt="Logo"></a>
        <span class="logo">DjangoGramm</span>
        <h3>Navigation</h3>
        <ul>
            {% if user.is_authenticated %}
            <a href="{% url 'user' user_slug=user.slug %}"><li>My profile</li></a>
            <a href="{% url 'news_feed' %}"><li>News</li></a>
            {% else %}
            <a href="{% url 'login' %}"><li>My profile</li></a>
            <a href="{% url 'login' %}"><li>News</li></a>
            {% endif %}
            <a href="{% url 'feed' %}"><li><i></i>Posts</li></a>
        </ul>
        {% if user.is_authenticated %}
             <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
        {% else %}
            <a href="{% url 'sign_up' %}" class="btn btn-primary">Sign UP</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        {% endif %}
        <hr>
        <p>Contact us</p>
        <p>Email: romantsovmitya1@gmail.com</p>
        <p>Phone: +380975067515</p>
    </aside>
    {% block content %}
    {% endblock %}
    <script src="{% static 'djangogramm/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'djangogramm/js/bootstrap.js' %}"></script>
    <script src="{% static 'djangogramm/js/jquery_like.js' %}"></script>
    <script src="{% static 'djangogramm/js/jquery_func.js' %}"></script>
    <script src="{% static 'djangogramm/js/jquery_follow.js' %}"></script>

</body>
</html>