{% extends 'djangogramm/base.html' %}
{% load cloudinary %}
{% load humanize %}

{% block title %}News{% endblock %}

{% block content %}
{% for new in news %}
    <div class="news">
        <p><a href="{% url 'user' user_slug=new.user.slug %}" class="news_user">{{new.user.username}}</a>
            {{new.time|naturaltime}}
            {{new.action}}
            {% if new.followed_user %}
            <a href="{% url 'user' user_slug=new.followed_user.slug %}" class="news_user">{{new.followed_user.username}}</a>{% endif %}
            {% if new.post %}
            <a href="{% url 'post' pk=new.post.id %}" class="news_user">post</a> {% endif %}</p>
    </div>
{% endfor %}
{% include 'djangogramm/pagination.html' %}
{% endblock %}