{% extends 'djangogramm/base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<br>
<a href="{% url "social:begin" "github" %}"><img src="{% static 'djangogramm/img/github.png' %}" alt="GitHub" height="50"></a>
<a href="{% url "social:begin" "google-oauth2" %}"><img src="{% static 'djangogramm/img/google.png' %}" alt="Google+" height="50"></a>
{% endblock %}