body {
    background: #5F9EA0;
}

ul {
    list-style-type: none;
}

aside {
    float: left;
    background: #B8860B;
    width: 20%;
    padding: 2%;
    height: auto;
    color: #fff;
    border-right: 5px solid #00008B;
}

aside img {
    width: 120px;
    margin-left: 40px;
}

aside .logo {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside li {
    color: #fff;
}

#user{
    height: 300px;
}

.avatar {
    float: right;
    weight: 300px;
    height: 300px;
}

.post {
    weight:80%;
    height: auto;
    padding: 2%;
    padding-right: 0%;
    padding-top: 0%;
    text-align: left;
    margin: 5px;
}

.post_user {
    float: right;
    text-align: right;
}


.post_user_img {
    weight: 200px;
    height: 200px;
}

.post_img {
    weight: 250px;
    height: 250px;
}


.post_content {
    padding-left: 18%;
}

.news {
    weight:80%;
    height: auto;
    padding: 2%;
    padding-right: 0%;
    padding-top: 0%;
    text-align: left;
    padding-left: 18%;
    font-size: 24px;
}

.news_user {
    color: black;
}

.feed_user {
    margin-left: auto;
    weight: 200px;
    height: auto;
    padding-right: 1%;
    height: auto;
}

.like_form button{
    font-size: 24px;
}

.like_form button.liked {
    background: red;
}

.like_form button.not_liked {
    background: white;
}

.follow_form button {
    font-size: 24px;
}

.follow_form button.followed {
    background: blue;
}

.follow_form button.not_followed {
    background: white;
}

container ul {
    list-style-type: none;
}