body {
    background: #C8C8C8;
}

.body_content {
    width: 80%;
    height: auto;
    margin-left: auto;
    padding-left: 1%;
}

ul {
    list-style-type: none;
}

aside {
    float: left;
    background: #330099;
    width: 20%;
    padding: 2%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #00008B;
    display: inline-block;
    position: fixed;
}

aside .menu {
    font-size: 20px;
}

aside .menu a {
    text-decoration: none;
}

aside .menu a:hover {
    font-size: 25px;
}

aside img {
    width: 120px;
    margin-left: 40px;
}

aside .logo {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside li {
    color: #fff;
}


.avatar {
    float: right;
    weight: 300px;
    height: 300px;
}

.list-pages {
	text-align: center;
	margin-top: 20px
}
.list-pages ul {
	padding: 0;
	list-style: none;
}
.list-pages ul li {
    padding-top: 0;
	display: inline-block;
}
.list-pages a {
	color: #000;
	font-size: 30px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 25px;
}
