.post {
    text-align: left;
    border-bottom: 1px solid;
    padding: 1%;
}

.post_user_data {
    display: inline-block;
}

.post_user .post_user_img {
    height: 150px;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 0px;
    position: inherit;
    margin-top: -5%;
}

.post_user_link {
    font-size: 25px;
    color: black;
}

.followers_counter {
    font-size: 20px;
}

.post_created_date {
    font_size: 15px;
}

.post_img {
    height: 250px;
    margin: 10px;
}

.post_text {
    font-size:15px;
    font-family: 'Montserrat';
}

.post_content {
    margin-top: 5px;
}
